In [1]:
import scanpy as sc
adata = sc.read('/home/zfeng/ssr/various_model/GSE194122_openproblems_neurips2021_multiome_BMMC_processed.h5ad')

In [2]:
adata_gex = adata[:,adata.var['feature_types']=='GEX'].copy()   # 69249 × 13431
adata_gex

AnnData object with n_obs × n_vars = 69249 × 13431
    obs: 'GEX_pct_counts_mt', 'GEX_n_counts', 'GEX_n_genes', 'GEX_size_factors', 'GEX_phase', 'ATAC_nCount_peaks', 'ATAC_atac_fragments', 'ATAC_reads_in_peaks_frac', 'ATAC_blacklist_fraction', 'ATAC_nucleosome_signal', 'cell_type', 'batch', 'ATAC_pseudotime_order', 'GEX_pseudotime_order', 'Samplename', 'Site', 'DonorNumber', 'Modality', 'VendorLot', 'DonorID', 'DonorAge', 'DonorBMI', 'DonorBloodType', 'DonorRace', 'Ethnicity', 'DonorGender', 'QCMeds', 'DonorSmoker'
    var: 'feature_types', 'gene_id'
    uns: 'ATAC_gene_activity_var_names', 'dataset_id', 'genome', 'organism'
    obsm: 'ATAC_gene_activity', 'ATAC_lsi_full', 'ATAC_lsi_red', 'ATAC_umap', 'GEX_X_pca', 'GEX_X_umap'
    layers: 'counts'

In [3]:
adata_atac = adata[:,adata.var['feature_types']=='ATAC'].copy()   # 69249 × 13431
adata_atac

AnnData object with n_obs × n_vars = 69249 × 116490
    obs: 'GEX_pct_counts_mt', 'GEX_n_counts', 'GEX_n_genes', 'GEX_size_factors', 'GEX_phase', 'ATAC_nCount_peaks', 'ATAC_atac_fragments', 'ATAC_reads_in_peaks_frac', 'ATAC_blacklist_fraction', 'ATAC_nucleosome_signal', 'cell_type', 'batch', 'ATAC_pseudotime_order', 'GEX_pseudotime_order', 'Samplename', 'Site', 'DonorNumber', 'Modality', 'VendorLot', 'DonorID', 'DonorAge', 'DonorBMI', 'DonorBloodType', 'DonorRace', 'Ethnicity', 'DonorGender', 'QCMeds', 'DonorSmoker'
    var: 'feature_types', 'gene_id'
    uns: 'ATAC_gene_activity_var_names', 'dataset_id', 'genome', 'organism'
    obsm: 'ATAC_gene_activity', 'ATAC_lsi_full', 'ATAC_lsi_red', 'ATAC_umap', 'GEX_X_pca', 'GEX_X_umap'
    layers: 'counts'

In [4]:
import pandas as pd

In [5]:
genes_df=pd.DataFrame(index=adata_gex.var_names)
genes_df

Empty DataFrame
Columns: []
Index: [AL627309.5, LINC01409, LINC01128, NOC2L, KLHL17, ISG15, C1orf159, SDF4, B3GALT6, UBE2J2, ACAP3, INTS11, DVL1, AURKAIP1, CCNL2, MRPL20, ATAD3B, ATAD3A, SSU72, MIB2, MMP23B, CDK11B, SLC35E2B, CDK11A, SLC35E2A, NADK, GNB1, PRKCZ, FAAP20, SKI, MORN1, RER1, PEX10, PLCH2, PANK4, AL139246.5, TNFRSF14-AS1, TNFRSF14, PRXL2B, TTC34, MEGF6, TPRG1L, WRAP73, SMIM1, LRRC47, CEP104, DFFB, C1orf174, NPHP4, KCNAB2, RPL22, ICMT, GPR153, ACOT7, ESPN, TNFRSF25, NOL9, ZBTB48, KLHL21, PHF13, THAP3, DNAJC11, CAMTA1, VAMP3, PER3, TNFRSF9, PARK7, ERRFI1, RERE, RERE-AS1, ENO1, SLC2A5, GPR157, H6PD, SPSB1, SLC25A33, TMEM201, PIK3CD, PIK3CD-AS2, CLSTN1, CTNNBIP1, LZIC, NMNAT1, RBP7, UBE4B, KIF1B, PGD, DFFA, PEX14, CASZ1, TARDBP, AL109811.2, SRM, EXOSC10, MTOR, UBIAD1, FBXO44, FBXO6, MAD2L2, DRAXIN, ...]

[13431 rows x 0 columns]

In [6]:
peaks_df = pd.DataFrame(index=adata_atac.var_names)
peaks_df

Empty DataFrame
Columns: []
Index: [chr1-9776-10668, chr1-180726-181005, chr1-181117-181803, chr1-191133-192055, chr1-267562-268456, chr1-629497-630394, chr1-633515-634474, chr1-778276-779191, chr1-816868-817761, chr1-822804-823597, chr1-827067-827948, chr1-838003-838737, chr1-841079-841916, chr1-842497-843414, chr1-844132-844995, chr1-857951-858596, chr1-865397-866322, chr1-869472-870377, chr1-876414-877141, chr1-897007-897897, chr1-898322-899246, chr1-904343-905196, chr1-906441-907357, chr1-910957-911659, chr1-912570-913458, chr1-920754-921598, chr1-923380-924263, chr1-940004-940923, chr1-958865-959755, chr1-960362-961092, chr1-966515-967329, chr1-975776-976695, chr1-983851-984749, chr1-995451-996252, chr1-998647-999397, chr1-999937-1000449, chr1-1000553-1001085, chr1-1001650-1002463, chr1-1004791-1005643, chr1-1008881-1009758, chr1-1013003-1013921, chr1-1019151-1019993, chr1-1027680-1028412, chr1-1032734-1033630, chr1-1038430-1039236, chr1-1040409-1041296, chr1-1059182-1060025, chr1-1063688-1064577, chr1-1068898-1069703, chr1-1079480-1080396, chr1-1098904-1099765, chr1-1103977-1104847, chr1-1115800-1116696, chr1-1121837-1122746, chr1-1136269-1136824, chr1-1136987-1137806, chr1-1143915-1144776, chr1-1149743-1150641, chr1-1151147-1151985, chr1-1171535-1172430, chr1-1173390-1174325, chr1-1179057-1179907, chr1-1182517-1183452, chr1-1196452-1197343, chr1-1201060-1201925, chr1-1206199-1207074, chr1-1207967-1208643, chr1-1208768-1209375, chr1-1212680-1213448, chr1-1216767-1217568, chr1-1219124-1219990, chr1-1221799-1222650, chr1-1231675-1232596, chr1-1246340-1247167, chr1-1247438-1248381, chr1-1250603-1251443, chr1-1259822-1260759, chr1-1261922-1262753, chr1-1264837-1265679, chr1-1267340-1268176, chr1-1273488-1274400, chr1-1280704-1281517, chr1-1289954-1290836, chr1-1291549-1292410, chr1-1293405-1294303, chr1-1305205-1306136, chr1-1307807-1308738, chr1-1324303-1325203, chr1-1349039-1349947, chr1-1355121-1355882, chr1-1358247-1359047, chr1-1371382-1371854, chr1-1371945-1372343, chr1-1374956-1375847, chr1-1380358-1381189, chr1-1381387-1382151, chr1-1399018-1399920, chr1-1406892-1407778, chr1-1419741-1420647, chr1-1425402-1426305, ...]

[116490 rows x 0 columns]

### 获取基因组坐标

In [7]:
import pyensembl as en
from pyensembl import EnsemblRelease

genome = EnsemblRelease(98)
chrom=[]
chromStart=[]
chromEnd=[]
for i in adata_gex.var['gene_id']:
    gene = genome.gene_by_id(i)
    if gene:
        # chrom.append(f"chr{gene.contig}")
        chrom.append(gene.contig)
        chromStart.append(gene.start)
        chromEnd.append(gene.end)
    else:
        print(f"Gene with ID {i} not found.")

In [9]:
# import pandas as pd
# series_obj = pd.Series(chrom,index=adata_gex.var_names)
# series_obj
# chr_list=series_obj.drop_duplicates()
# chr_list.pop('AL592183.1')
# chr_list.pop('AC240274.1')
# chr_list

In [10]:
chr_list=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 
          '11', '12', '13', '14', '15', '16', '17', '18', '19', 
          '20', '21', '22', 'X', 'Y', 'MT']

In [11]:
chrom_list=[]
for i in chrom:
    if i in chr_list:
        chrom_list.append(f"chr{i}")
    else :
        chrom_list.append(i)
chrom_series=pd.Series(chrom_list,index=adata_gex.var_names)
chrom_series

AL627309.5          chr1
LINC01409           chr1
LINC01128           chr1
NOC2L               chr1
KLHL17              chr1
                 ...
MT-ND5             chrMT
MT-ND6             chrMT
MT-CYB             chrMT
AL592183.1    GL000219.1
AC240274.1    KI270711.1
Length: 13431, dtype: object

In [12]:
chromStart_series=pd.Series(chromStart,index=adata_gex.var_names)
chromEnd_series=pd.Series(chromEnd,index=adata_gex.var_names)

In [13]:
genes_df["contig"] = chrom_series
genes_df["start"] = chromStart_series.astype(int)
genes_df["end"] = chromEnd_series.astype(int)
genes_df.head()

           contig   start     end
AL627309.5   chr1  141474  173862
LINC01409    chr1  778747  810065
LINC01128    chr1  825138  868202
NOC2L        chr1  944203  959309
KLHL17       chr1  960584  965719

### 填充peaks_df

In [14]:
adata_atac.var_names

Index(['chr1-9776-10668', 'chr1-180726-181005', 'chr1-181117-181803',
       'chr1-191133-192055', 'chr1-267562-268456', 'chr1-629497-630394',
       'chr1-633515-634474', 'chr1-778276-779191', 'chr1-816868-817761',
       'chr1-822804-823597',
       ...
       'GL000195.1-137376-138301', 'GL000219.1-39933-40839',
       'GL000219.1-42172-43054', 'GL000219.1-44703-45584',
       'GL000219.1-45726-46450', 'GL000219.1-90062-90937',
       'GL000219.1-99257-100160', 'KI270726.1-27152-28034',
       'KI270713.1-21434-22336', 'KI270713.1-29629-30491'],
      dtype='object', length=116490)

In [15]:
split = adata_atac.var_names.str.split(r"[-]")
split

Index([         ['chr1', '9776', '10668'],       ['chr1', '180726', '181005'],
             ['chr1', '181117', '181803'],       ['chr1', '191133', '192055'],
             ['chr1', '267562', '268456'],       ['chr1', '629497', '630394'],
             ['chr1', '633515', '634474'],       ['chr1', '778276', '779191'],
             ['chr1', '816868', '817761'],       ['chr1', '822804', '823597'],
       ...
       ['GL000195.1', '137376', '138301'],   ['GL000219.1', '39933', '40839'],
         ['GL000219.1', '42172', '43054'],   ['GL000219.1', '44703', '45584'],
         ['GL000219.1', '45726', '46450'],   ['GL000219.1', '90062', '90937'],
        ['GL000219.1', '99257', '100160'],   ['KI270726.1', '27152', '28034'],
         ['KI270713.1', '21434', '22336'],   ['KI270713.1', '29629', '30491']],
      dtype='object', length=116490)

In [16]:
peaks_df["contig"] = split.map(lambda x: x[0])
peaks_df["start"] = split.map(lambda x: x[1]).astype(int)
peaks_df["end"] = split.map(lambda x: x[2]).astype(int)
peaks_df.head()

                   contig   start     end
chr1-9776-10668      chr1    9776   10668
chr1-180726-181005   chr1  180726  181005
chr1-181117-181803   chr1  181117  181803
chr1-191133-192055   chr1  191133  192055
chr1-267562-268456   chr1  267562  268456

In [17]:
a=peaks_df['contig'].drop_duplicates()
a

chr1-9776-10668                  chr1
chr10-76080-76980               chr10
chr11-191751-192617             chr11
chr12-9843-10760                chr12
chr13-18211626-18212529         chr13
chr14-20177206-20178092         chr14
chr15-20193051-20193997         chr15
chr16-10596-11363               chr16
chr17-112845-113742             chr17
chr18-105358-106164             chr18
chr19-246741-247622             chr19
chr2-9996-10834                  chr2
chr20-208722-209630             chr20
chr21-5101508-5102412           chr21
chr22-16601030-16601802         chr22
chr3-10002-10967                 chr3
chr4-28892-29787                 chr4
chr5-11635-12498                 chr5
chr6-148232-149038               chr6
chr7-9697-10596                  chr7
chr8-206533-207401               chr8
chr9-10937-11786                 chr9
chrX-251007-251829               chrX
chrY-11295162-11295942           chrY
GL000205.2-63003-63892     GL000205.2
GL000195.1-23722-24627     GL000195.1
GL000219.1-39933-40839     GL000219.1
KI270726.1-27152-28034     KI270726.1
KI270713.1-21434-22336     KI270713.1
Name: contig, dtype: object

In [18]:
len(a)

29

### 匹配

In [19]:
genes_df['name']=genes_df.index
genes_df.head()

           contig   start     end        name
AL627309.5   chr1  141474  173862  AL627309.5
LINC01409    chr1  778747  810065   LINC01409
LINC01128    chr1  825138  868202   LINC01128
NOC2L        chr1  944203  959309       NOC2L
KLHL17       chr1  960584  965719      KLHL17

In [21]:
print(genes_df['name']['MT-CYB'])

MT-CYB

In [22]:
peaks_df['name']=peaks_df.index
peaks_df.head()

                   contig   start     end                name
chr1-9776-10668      chr1    9776   10668     chr1-9776-10668
chr1-180726-181005   chr1  180726  181005  chr1-180726-181005
chr1-181117-181803   chr1  181117  181803  chr1-181117-181803
chr1-191133-192055   chr1  191133  192055  chr1-191133-192055
chr1-267562-268456   chr1  267562  268456  chr1-267562-268456

In [23]:
genes_df['contig'] = genes_df['contig'].astype('category')
peaks_df['contig'] = peaks_df['contig'].astype('category')

# 根据'contig'列拆分数据
genes_grouped = genes_df.groupby('contig')
peaks_grouped = peaks_df.groupby('contig')

In [24]:
genes_df['contig']

AL627309.5          chr1
LINC01409           chr1
LINC01128           chr1
NOC2L               chr1
KLHL17              chr1
                 ...
MT-ND5             chrMT
MT-ND6             chrMT
MT-CYB             chrMT
AL592183.1    GL000219.1
AC240274.1    KI270711.1
Name: contig, Length: 13431, dtype: category
Categories (26, object): ['GL000219.1', 'KI270711.1', 'chr1', 'chr10', ..., 'chr8', 'chr9', 'chrMT', 'chrX']

In [25]:
peaks_df['contig']

chr1-9776-10668                  chr1
chr1-180726-181005               chr1
chr1-181117-181803               chr1
chr1-191133-192055               chr1
chr1-267562-268456               chr1
                              ...
GL000219.1-90062-90937     GL000219.1
GL000219.1-99257-100160    GL000219.1
KI270726.1-27152-28034     KI270726.1
KI270713.1-21434-22336     KI270713.1
KI270713.1-29629-30491     KI270713.1
Name: contig, Length: 116490, dtype: category
Categories (29, object): ['GL000195.1', 'GL000205.2', 'GL000219.1', 'KI270713.1', ..., 'chr8', 'chr9', 'chrX', 'chrY']

In [26]:
genes_dict = {}
peaks_dict = {}

for contig, group in genes_grouped:
    genes_dict[contig] = group

for contig, group in peaks_grouped:
    peaks_dict[contig] = group

## 匹配

In [27]:
from itertools import chain
import pandas as pd
import numpy as np


# 初始化空列表来收集匹配的gene-peak pairs
gene_peak_dict = {}
neighborhood_size = 500000  # ±500kb

# 遍历每个染色体的数据
for contig, genes in genes_dict.items():
    if contig in peaks_dict:
        # print('染色体：',contig)
        peaks = peaks_dict[contig]
        
        # 提取基因的名称、起始和终止位置作为NumPy数组
        gene_names = genes['name'].values
        gene_starts = genes['start'].values
        gene_ends = genes['end'].values
        
        # 提取峰值的名称、起始和终止位置作为NumPy数组
        peak_names = peaks['name'].values
        peak_starts = peaks['start'].values
        peak_ends = peaks['end'].values
        
        upstream_starts = np.maximum(0, gene_starts - neighborhood_size)
        downstream_ends = gene_ends + neighborhood_size
        
        # 遍历基因数据
        for gene_name, gene_start, gene_end, upstream_start, downstream_end in zip(
                gene_names, gene_starts, gene_ends, upstream_starts, downstream_ends):
            
            # 在峰值数据中查找落在邻近区域内的峰值
            upstream_mask = (peak_starts >= upstream_start) & (peak_ends < gene_start)
            downstream_mask = (peak_starts > gene_end) & (peak_ends <= downstream_end)
            
            # 找到匹配的峰值
            upstream_matching_peaks = peak_names[upstream_mask]
            downstream_matching_peaks = peak_names[downstream_mask]
            # 将匹配的gene-peak添加到列表
            
            # upstream_matching_peaks + [gene_name]+ downstream_matching_peaks
            merged_list = list(chain(upstream_matching_peaks, [gene_name], downstream_matching_peaks))
            gene_peak_dict[gene_name]=merged_list

# # 将列表转换为DataFrame
# gene_peak_pairs = pd.DataFrame(gene_peak_pairs_list, columns=['V1', 'V2'])

# # 将结果保存到CSV文件
# gene_peak_pairs.to_csv('gene_peak_pairs.csv', index=False)

In [ ]:
len(gene_peak_dict)

In [ ]:
gene_peak_df=  pd.DataFrame(dict([(k, pd.Series(v)) for k, v in gene_peak_dict.items()]))
gene_peak_df

In [30]:
gene_peak_df.to_csv('/home/zfeng/ssr/genes and peaks/gene_peak_df.csv', index=False)

In [ ]:
gene_peak_pd = pd.read_csv("/home/zfeng/ssr/genes and peaks/gene_peak_df.csv")

In [ ]:
pos={}
for i in gene_peak_pd.columns:
    gene_pos =(gene_peak_pd[i].dropna() == i).idxmax()
    pos[i]=gene_pos

In [ ]:
gene_positions_pd = gene_peak_pd

In [ ]:
import pyensembl as en
from pyensembl import EnsemblRelease
genome = EnsemblRelease(98)
t=0
for i in rna.var['gene_id']:
    gene = genome.gene_by_id(i)
    if gene:
        name=f"chr{gene.contig}-{gene.start}-{gene.end}"
        if gene.gene_name in gene_positions_pd.columns:
            t=t+1
            gene_positions_pd[gene.gene_name][pos[gene.gene_name]]=name
    else:
        print(f"Gene with ID {i} not found.")

In [ ]:
# genome.genes_by_name('MATR3')

In [ ]:
# gene_positions_pd['MATR3-1'][pos['MATR3-1']]=f"chr{5}-{139293674}-{139331677}"

In [ ]:
gene_positions_pd.to_csv('./ocr_position.csv',index=False)